body
{
	overflow-y: scroll;	/* force a scrollbar, otherwise centered fixed-width content will 'jump' */
	border: none;
	background: #f8f8f8;
	font-family: "Verdana", "Arial", "Helvetica", "Sans Serif";
	font-size: 0.8em;
}

pre
{
	text-align: left;
}

ul.menu
{
	margin: 0;
	padding: 2px;
	background: #000000;
	color: #ffffff;
	font-size: 1em;
}

ul.menu.left
{
	float: left;
	margin-right: 2.5em;
	text-align: left;
}

ul.menu > li
{
	display: inline;
	white-space: nowrap;
	margin: 0;
}

ul.menu.left > li.sep
{
	border-left: 1px solid #A3AAB7;
	padding-left: 0.5em;
}

ul.menu.right > li.sep
{
	border-right: 1px solid #A3AAB7;
	padding-right: 0.5em;
}

ul.menu li a
{
	color: #A3AAB7;
}

ul.menu li > a:hover
{
	color: #ffffff;
}

nav img.flag
{
	color: #000000;
	background: #A3AAB7;
}

div.table
{
	margin: auto;
	display: table;
	padding-left: 2em;
	padding-right: 2em;
}

div.row
{
	display: table-row;
}

div.cell
{
	display: table-cell;
}

div.footnote
{
	font-size: 0.8em;
}

img
{
	border: none;
}

img.emil
{
	vertical-align: bottom;
}

a
{
	color: #000080;
	text-decoration: none;
}

a:hover
{
	color: #000040;
}

a.back
{
	display: block;
	padding: 1em 0 0 0;
	font-size: 0.8em;
}

fieldset
{
	border: 1px solid #dddddd;
	margin-top: 10px;
	margin-bottom: 10px;
}

div.label
{
	padding-right: 1em;
	text-align: right;
	white-space: nowrap;
}

input[type=submit],
input[type=reset]
{
	background-color: white;
}

td, th
{
	white-space: nowrap;
}

dl.inline dt, dl.inline dd
{
	float: left;
	margin: 0 1.2em 0 0;
}

dl.inline dd + dt,
dl.inline dd + dd
{
	clear: left
}

dl.inline dd + dd
{
	float: none
}

dl.inline dt
{
	font-weight: bold
}

#schedule a img
{
	margin-top: 1px;
	margin-left: 1px;
	margin-right: 2px;
}

ul.help > li
{
	list-style: none;
}

ul.help img.screen
{
	padding: 1em 0em;
}

ul.help div
{
	margin: 1em;
}

ul.help img.screen
{
	margin: 0.1em;
	margin-right: 1em;
	vertical-align: middle;
}

#mobile ul.help img
{
	margin: 0.1em;
	margin-right: 1em;
	vertical-align: middle;
}

img.emil
{
	vertical-align: middle;
}

.b { font-weight: bold; }
.i { font-style: italic; }
.bi { font-weight: bold; font-style: italic; }
.left { text-align: left; }
.center { text-align: center; }
.right { text-align: right; }
.top { vertical-align: top; }
.nobr { white-space: nowrap; }
.explain { background: #EAEAFF; }
.success { background: #EAFFEA; }
.notice { background: #FFFFEA; }
.error { background: #FFEAEA; }
.noscript
{
	z-index: 3;
	margin: auto 2em 1em;
	padding: 0.2em 0.8em;
	background: #ffffcc;
	border: thin solid #dddddd;
	display: block;
	text-align: center;
}

.box
{
	display: inline-block;
	margin: auto;
	padding: 10px;
	background: #ffffff;
	box-shadow: 0 0 3px #666666;
}

#body
{
	padding: 0;
	text-align: center;
}

#head h1,
#head h3
{
	margin: 0 2px;
}

#head h1
{
	font-size: 2em;
}

#head h3
{
	font-size: 1.5em;
}

#head
{
	background-image: url(../img/header.jpg);
	background-color: #51555C;
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-size: auto 100%;
	background-position: right center;
	color: white;
}

#error
{
	margin: 1em 0;
}

#error h1
{
	margin: 0;
}

.nodb
{
	margin-top: 1em;
	font-size: 14pt;
}

form
{
	margin: auto;
	padding: 1.5em;
	text-align: left;
}

form div.cell
{
	min-width: 8em;
	padding: 5px;
}

form div.hint
{
	text-align: right;
	font-size: 0.85em;
	font-style: italic;
}

form.stretched input[type=text],
form.stretched input[type=password],
form.stretched select
{
	width: 100%;
	padding: 0;
	margin: 0;
}

form div.explainatory
{
	margin: 1em 1em 1.5em 1em;
}

#notification
{
	margin-bottom: 10px;
	padding: 4px;
	border: 1px #dddddd solid;
	text-align: center;
}

#content
{
	margin: 0;
	padding: 6px 0;
	width: 792px;
}

#admin
{
	margin: 1em auto 1em auto;
	padding: 0.5em 1em;
	border: 1px solid #A3AAB7;
}

#rwy_cont
{
	display: table;
	margin: 0 0 6px 0;
	border: 1px solid grey;
}

#rwy_div
{
	display: table-row;
}

#rwy_l
{
	display: table-cell;
	padding: 0 4px;
	background: black;
	color: yellow;
}

#rwy_r
{
	display: table-cell;
	padding: 0 4px;
	background: red;
	color: white;
}

#wl_cont
{
	z-index: 2;
	float: right;
	margin-right: 12px;
}

#wl_div
{
	position: fixed;
	margin-right: 24px;
	background-color: white;
	border-left: 1px solid;
	border-top: 1px solid;
	border-bottom: 1px solid;
	box-shadow: 5px 5px 10px #ccc;
}

#wl_handle
{
	cursor: pointer;
}

#wl_img
{
	margin: 6px 2px 2px 2px;
	vertical-align: top;
}

#wl_div table,
#wl_div tr,
#wl_div td
{
	font-size: 8pt;
	padding: 0 2px;
}

#wl_div td
{
	margin-right: 10px;
}

#wl_div input[type=text]
{
	border: 1px solid grey;
}

#wl_div .reg input[type=text]
{
	width: 6em;
}

#wl_div .comment input[type=text]
{
	width: 20em;
}

#wl_div button
{
	text-align: center;
	background-color: transparent;
	background-position: 0px 0px;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	border-top:    solid 1px #E0E0E0;
	border-left:   solid 1px #E0E0E0;
	border-bottom: solid 1px #404040;
	border-right:  solid 1px #404040;
}

#wl_div button:active
{
	border-top:    solid 1px #A0A0A0;
	border-left:   solid 1px #A0A0A0;
	border-bottom: solid 1px #E0E0E0;
	border-right:  solid 1px #E0E0E0;
}

#wl_div button.add
{
	background-image: url(../img/add.gif);
}

#wl_div button.del
{
	background-image: url(../img/del.gif);
}

#list
{
	min-height: 200px;
	max-height: 400px;
	overflow-x: hidden;
	overflow-y: scroll;
}

#schedule
{
	margin-right: 24px;
	width: auto;
}

#schedule table
{
	border: none;
	border-spacing: 0;
	border-collapse: collapse;
}

#schedule tr:nth-child(odd) { background-color:#f0f0f0; }
#schedule tr:nth-child(even)    { background-color:#ffffff; }
#schedule tr:hover { background-color:#ddd; }
#schedule tr.past { color: #aaa; }

#schedule th
{
	background: #aaaaaa;
	font-weight: normal;
	text-align: center;
	vertical-align: bottom;
	padding: 1px 4px;
}

#schedule th.sep
{
	border-left: 1px solid white;
}

#schedule td
{
	padding: 1px 4px;
	vertical-align: middle;
	white-space: nowrap;
}

#schedule td div
{
	overflow: hidden;			/* required for text-overflow */
	-o-text-overflow: ellipsis;	/* for Opera since 9.0 */
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;	/* for IE and WebKit (Safari, Chrome) */
	max-width: 15em; /*!IE*/
}

#schedule td.early
{
	color: #cf0000;
}

#schedule td.model
{
	padding-left: 10px;
}

#schedule td.cargo
{
	background: url("../img/ld3-9.png") no-repeat left center;
	font-weight: bold;
}

#schedule td.watch
{
	color: #007f00;
	font-weight: bold;
}

#schedule td.rare
{
	color: #000000;
	font-weight: bold;
}

#counter
{
	margin: 3.6em auto 0.8em auto;
	padding: 0;
}

#addflight
{
	margin: auto;
	padding: 1.5em;
}

#addflight .table
{
	margin: auto;
}

#addflight .cell
{
	padding: 0.4em;
}

#debug
{
	z-index: 2147483647;
	position: fixed;
	float: top;
	left: 0;
	top: 0;
	margin: 0;
	padding: 0;
	width: 100%;
	background: red;
	color: white;
	opacity: 0.6;
	filter: alpha(opacity=40); /* For IE8 and earlier */
	text-align: center;
}

#phone-slider,
#tablet-slider,
#notification-slider
{
	display: inline-block;
	margin: 0 1em;
	min-width: 12em;
}

body .ui-tooltip
{
	border: 1px solid black !important;
	z-index: 9999;
	position: absolute;
	padding: 0.1em 0.2em;
	max-width: 300px;
	background: #FFFFE1;
	-webkit-box-shadow: 0 0 2px #AAA;
	box-shadow: 0 0 2px #AAA;
	border-radius: 0;
	font-size: 0.85em;
}
