body
{
	height: 100vh;
	padding: 0;
	border: none;
	margin: 6px;
	overflow-x: hidden;
	background: #f8f8f8;
	font-family: "Verdana", "Arial", "Helvetica", "Sans Serif";
	font-size: 1rem;
	text-align: center;
}

pre
{
	text-align: left;
}

ul.menu
{
	margin: 0;
	padding: 2px;
	background: #000000;
	color: #ffffff;
	font-size: 0.8em;
}

ul.menu.left
{
	float: left;
	margin-right: 2.5em;
	text-align: left;
}

ul.menu > li
{
	display: inline;
	white-space: nowrap;
	margin: 0;
}

ul.menu li a
{
	color: #A3AAB7;
}

ul.menu li.lang
{
	vertical-align: baseline;
}

ul.menu + div
{
	clear: both;
	margin-top: 3em;
}

nav img.flag
{
	color: #000000;
	background: #A3AAB7;
}

div.table
{
	margin: auto;
	display: table;
}

div.footnote
{
	font-size: 0.8em;
}

img
{
	border: none;
}

img.email
{
	vertical-align: bottom;
}

a
{
	color: #000080;
	text-decoration: none;
}

a.back
{
	display: block;
	padding: 1em 0 0 0;
	font-size: 0.8em;
}

fieldset
{
	border: 1px solid #dddddd;
	margin-top: 10px;
	margin-bottom: 10px;
}

input[type=submit],
input[type=reset]
{
	min-width: 5em;
	background-color: white;
}

td, th
{
	white-space: nowrap;
}

dl.inline dt
{
	float: left;
	margin: 0 1.2em 0 0;
}

dl.inline dd + dt,
dl.inline dd + dd
{
	clear: left
}

dl.inline dd + dd
{
	float: none
}

dl.inline dt
{
	font-weight: bold
}

ul.help > li
{
	list-style: none;
}

ul.help div
{
	margin: 1em;
}

ul.help img.screen
{
	margin: 0.1em;
	margin-right: 1em;
	padding: 1em 0em;
	vertical-align: middle;
	max-width: 90%;
}

#mobile ul.help img
{
	margin: 0.1em;
	margin-right: 1em;
	vertical-align: middle;
}

.fs12 { font-size: 12pt; }
.smaller { font-size: smaller; }
.b { font-weight: bold; }
.i { font-style: italic; }
.bi { font-weight: bold; font-style: italic; }
.underline { text-decoration: underline; }
.strikethrough { text-decoration: line-through; }
.left { text-align: left; }
.center { text-align: center; }
.right { text-align: right; }
.top { vertical-align: top; }
.nobr { white-space: nowrap; }
.explain { background: #EAEAFF; }
.success { background: #EAFFEA; }
.notice { background: #FFFFEA; }
.error { background: #FFEAEA; }
.noscript
{
	z-index: 3;
	margin: auto 2em 1em;
	padding: 0.2em 0.8em;
	background: #ffffcc;
	border: thin solid #dddddd;
	display: block;
	text-align: center;
}

.box
{
	display: inline-block;
	margin: auto;
	padding: 4px;
	box-sizing: border-box;
	background: #ffffff;
	box-shadow: 0 0 3px #666666;
}

#head h1,
#head h3
{
	margin: 0 2px;
}

#head h1
{
	font-size: 1.0em;
}

#head h3
{
	font-size: 0.85em;
}

#head
{
	background-image: url("../img/header.jpg");
	background-color: #51555C;
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-size: auto 100%;
	background-position: right center;
	color: white;
}

#error
{
	margin: 1em 0;
}

#error h1
{
	margin: 0;
	font-size: 1.2em;
}

.nodb
{
	margin-top: 1em;
	font-size: 12pt;
}

form
{
	margin: auto;
	text-align: left;
}

form .label
{
	text-align: left;
}

form div.hint
{
	text-align: right;
	font-size: 0.85em;
	font-style: italic;
}

form.stretched input[type=text],
form.stretched input[type=password],
form.stretched select
{
	width: 98%;
	padding: 0;
	margin: 0.2em 0;
}

#timefmt /* input:has(+ sup) */
{
	width: 90%;
}

form div.explainatory
{
	margin: 0.8em 0.8em 1.0em 0.8em;
}

#notification
{
	margin-bottom: 10px;
	padding: 4px;
	border: 1px #dddddd solid;
	text-align: center;
}

#content
{
	margin: 0;
	padding: 6px 0;
	min-width: 198px;
}

#admin
{
	margin: 0.5em auto;
	padding: 0.2em;
	border: 1px solid #A3AAB7;
}

#rwy_cont
{
	display: inline-grid;
	margin: 0 0 6px 0;
	border: 1px solid grey;
}

#rwy_div
{
	display: inline-flex;
}

#rwy_l
{
	display: flex;
	align-items: center;
	padding: 0 4px;
	background: black;
	color: yellow;
}

#rwy_r
{
	padding: 0 4px;
	background: red;
	color: white;
}

#watchlist-container {
}

#watchlist-container > div {
}

#watchlist {
	display: flex;
	background-color: white;
	text-align: center;
	margin: 0 auto;
}

#watchlist:not(.expanded) {
	display: none;
}

#watchlist-handle {
	display: none;
}

#watchlist-handle div {
}

#watchlist:not(.expanded)
#watchlist-handle div::before {
}

#watchlist.expanded
#watchlist-handle div::before {
}

#watchlist:not(.expanded)
#watchlist-handle + div {
}

#watchlist-handle + div {
	display: flex;
	align-items: stretch;
	margin: 0 auto;
	padding: 0 .2em 1em .2em;
}

#watchlist-handle + div > div {
}

#watchlist form {
	margin: 0;
	padding: 0;
}

#watchlist form > div {
}

#watchlist form > div > div {
	overflow-y: scroll;
}

#watchlist form button
{
	text-align: center;
	background-color: transparent;
	background-position: 0px 0px;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	border-top:    solid 1px #E0E0E0;
	border-left:   solid 1px #E0E0E0;
	border-bottom: solid 1px #404040;
	border-right:  solid 1px #404040;
}

#watchlist form button:active
{
	border-top:    solid 1px #A0A0A0;
	border-left:   solid 1px #A0A0A0;
	border-bottom: solid 1px #E0E0E0;
	border-right:  solid 1px #E0E0E0;
}

#watchlist form button.add
{
	background-image: url("../img/add.gif");
}

#watchlist form button.del
{
	background-image: url("../img/del.gif");
}

#watchlist form input[type=submit]
{
	margin: 1em 0 0 0;
}

#watchlist form table,
#watchlist form tr,
#watchlist form td
{
	font-size: 8pt;
	padding: 0 2px;
}

#watchlist form td
{
	align-items: center;
	justify-content: center;
}

#watchlist form td:first-child {
	display: flex;
}

#watchlist form tr > td > div {
	margin-right: 0.5em;
}

#watchlist form tr > td div {
	/* Extend to the dimensions of the photodb image */
	width: 13px;
	height: 12px;
}

#watchlist form tr > td a div {
	background-image: url("../img/camera.png");
}

#watchlist form tr > td > div:empty {
	background-image: url("../img/camera-disabled.png");
	background-repeat: no-repeat;
	background-position: center;
}

#watchlist form input[type=text]
{
	border: 1px solid grey;
}

#watchlist form input[type=text].comment
{
	width: 10em;
}

#watchlist form input[type=text].reg
{
	width: 5em;
}

#schedule
{
	width: auto;
}

#schedule table
{
	border: none;
	border-spacing: 0;
	border-collapse: collapse;
}

#schedule tr:nth-child(odd) { background-color:#f0f0f0; }
#schedule tr:nth-child(even)    { background-color:#ffffff; }
#schedule tr.past { color: #aaa; }

#schedule th
{
	background: #aaaaaa;
	font-weight: normal;
	text-align: center;
	vertical-align: bottom;
}

#schedule th.sep
{
	border-left: 1px solid white;
}

#schedule td
{
	padding: 1px .5em;
	white-space: nowrap;
	vertical-align: middle;
}

#schedule td div
{
	overflow: hidden;
	-o-text-overflow: ellipsis;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
	max-width: 16em;
}

#schedule td.early
{
	color: #cf0000;
}

#schedule td.model
{
	padding-left: 10px;
}

#schedule td.cargo
{
	background: url("../img/ld3-9.png") no-repeat left center;
	font-weight: bold;
}

#schedule th.reg,
#schedule td.reg {
	display: flex;
	align-items: center; /* Vertically centers the pseudo-element */
}

#schedule th.reg div,
#schedule td.reg a div {
	width: 13px;
	height: 12px;
	margin-right: 0.2em;
}

#schedule td.reg a div {
		background-image: url("../img/camera.png");
}

#schedule td.watch
{
	color: #007f00;
	font-weight: bold;
}

#schedule td.rare
{
	color: #000000;
	font-weight: bold;
}

#phone-slider,
#tablet-slider,
#notification-slider
{
	display: block;
	margin: 0.8em 0em;
	width: 12em;
}

body .ui-tooltip
{
	border: 1px solid black !important;
	z-index: 9999;
	position: absolute;
	padding: 0.1em 0.2em;
	max-width: 300px;
	background: #FFFFE1;
	-webkit-box-shadow: 0 0 2px #AAA;
	box-shadow: 0 0 2px #AAA;
	border-radius: 0;
	font-size: 0.85em;
}

#update-bookmarks
{
	display: flex;
	justify-content: center;
}

#requesturi-old
{
	font-weight: normal;
	color: #999;
}

/* ?page=download */
#download .row
{
	margin: 1em 0;
}

#download .cell
{
	margin: .5em 0;
}

#addflight .row
{
	padding: .2em 0;
}

#flighttype
{
	margin-top: 1em;
}

#time
{
	margin-right: 0.5em;
}

#freq
{
	margin-top: 0.5em;
}

#each div
{
	margin: 0.5em 0 0 0.5em;
}

#addflight_interval
{
	display: grid;
	margin-top: 0.5em;
}

fieldset .label
{
	min-width: 4em !important;
}
