# /fra-flugplan/www.frankfurt-airport.com/.htaccess

<IfModule mod_rewrite.c>
RewriteEngine on

# This will rewrite the request to index.php
RewriteCond %{REQUEST_URI} www.frankfurt-airport.com
RewriteRule flights\.json        index.php
RewriteRule flights\.cargo\.json index.php?cargo&%{QUERY_STRING}

# "json/airports.json" is used for testing...
RewriteCond %{QUERY_STRING} local
RewriteRule (de|en|cn)/.*(air(craft|line|port)s)\.json$ json/airports.json [NC,L]

# This will yield the downloaded files - comment the above out, if you want to get here...
RewriteCond %{QUERY_STRING} (^|&)flighttype=((arrival|departure)s)(&|$) [NC]
RewriteRule (de|en|cn)/.*flights(\.cargo)?.json/filter json/1.7.6/%2$2.json [NC,L]
RewriteCond %{QUERY_STRING} ^$
RewriteRule (de|en|cn)/.*(air(craft|line|port)s)\.json json/1.7.6/$2.json [NC,L]

</IfModule>
