# /fra-flugplan/.htaccess

#//Prevent viewing of .htaccess file
<Files .htaccess>
order allow,deny
deny from all
</Files>

#//Prevent directory listings
Options -Indexes

ErrorDocument 403 /error.php
ErrorDocument 404 /error.php
ErrorDocument 500 /error.php

<IfModule mod_rewrite.c>
RewriteEngine On

# This checks to make sure the connection is not already HTTPS
RewriteCond %{HTTPS} !=on
# This rule will redirect users from their original location
# to the same location but using HTTPS.
RewriteRule .* https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# For testing and debugging of getflights script, redirect to www.frankfurt-airport.com mock
RewriteCond %{HTTP_HOST} localhost
RewriteRule sslapps.fraport.de/(.*) www.frankfurt-airport.com/$1

# For testing and debugging, fake originator ip address via query string
RewriteCond %{QUERY_STRING} req=register.*ip=(.*)$
RewriteRule .* - [E=HTTP_X_REAL_IP:%1]
</IfModule>
