# /fra-flugplan/.htaccess

#//Prevent viewing of .htaccess file
<Files .htaccess>
order allow,deny
deny from all
</Files>

#//Prevent directory listings
Options -Indexes

ErrorDocument 400 /error.php
ErrorDocument 401 /error.php
ErrorDocument 402 /error.php
ErrorDocument 403 /error.php
ErrorDocument 404 /error.php
ErrorDocument 405 /error.php
ErrorDocument 406 /error.php
ErrorDocument 407 /error.php
ErrorDocument 408 /error.php
ErrorDocument 409 /error.php
ErrorDocument 410 /error.php
ErrorDocument 411 /error.php
ErrorDocument 412 /error.php
ErrorDocument 413 /error.php
ErrorDocument 414 /error.php
ErrorDocument 415 /error.php
ErrorDocument 416 /error.php
ErrorDocument 417 /error.php
# ErrorDocument 418 /error.php
# ErrorDocument 419 /error.php
# ErrorDocument 420 /error.php
ErrorDocument 421 /error.php
ErrorDocument 422 /error.php
ErrorDocument 423 /error.php
ErrorDocument 424 /error.php
# ErrorDocument 425 /error.php
ErrorDocument 426 /error.php
# ErrorDocument 427 /error.php
ErrorDocument 428 /error.php
ErrorDocument 429 /error.php
ErrorDocument 431 /error.php
ErrorDocument 451 /error.php
ErrorDocument 500 /error.php
ErrorDocument 501 /error.php
ErrorDocument 502 /error.php
ErrorDocument 503 /error.php
ErrorDocument 504 /error.php
ErrorDocument 505 /error.php
ErrorDocument 506 /error.php
ErrorDocument 507 /error.php
ErrorDocument 508 /error.php
# ErrorDocument 509 /error.php
ErrorDocument 510 /error.php
ErrorDocument 511 /error.php

<IfModule mod_rewrite.c>
RewriteEngine On

# This checks to make sure the connection is not already HTTPS
RewriteCond %{HTTPS} !=on
# This rule will redirect users from their original location
# to the same location but using HTTPS.
RewriteRule .* https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# For testing and debugging of getflights script, redirect to www.frankfurt-airport.com mock
RewriteCond %{HTTP_HOST} localhost
RewriteRule sslapps.fraport.de/(.*) www.frankfurt-airport.com/$1

# For testing and debugging, fake originator ip address via query string
RewriteCond %{QUERY_STRING} req=register.*ip=(.*)$
RewriteRule .* - [E=HTTP_X_REAL_IP:%1]
</IfModule>
