@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&display=swap');

html,
body
{
	height: 100%;
	margin: 0;
}

body
{
	display: flex;
	justify-content: center;
	align-items: center;
	background: #F1F5F9;
	font-family: "Public Sans", Helvetica, Roboto, Verdana, Arial, sans-serif;
}
h1
{
	margin: 2rem 0;
	white-space: nowrap;
	font-family: "Schibsted Grotesk", "Droid Sans", "Franklin Gothic", Calibri, sans-serif;
	font-size: 32pt;
}

h2
{
	margin: 1.2rem 0;
	white-space: nowrap;
	font-style: normal;
	font-weight: 400;
	font-size: 14pt;
}

#container
{
	text-align: center;
}

#message
{
	margin: 4rem 0 8rem 0;
	font-optical-sizing: auto;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
}

img
{
	display: block;
	margin: 5rem auto;
}
