*/5 * * * * e=$(curl 'http://www.flederwiesel.com/fra-flights/getflights.php'); if [ ${#e} -gt 0 ]; then echo $(date --rfc-3339=seconds) $e >> /srv/www/htdocs/web416/html/fra-flights/getflights.log; fi
