MAILTO=hausmeister@flederwiesel.com

# M H d m u
#0 0 * * *	cron.sh
*/5	*	*	*	*	sh -c 'e=$(curl -s http://www.flederwiesel.com/fra-schedule/getflights.php); if [ ${#e} -gt 0 ]; then echo $(date --rfc-3339=seconds) $(echo "$e" | sed "/./ { :a s/\n/$ /g; N; ba }") >> /home/flederwi/logs/getflights.log; fi; date +\%F\%t\%T > /home/flederwi/logs/lastrun'